
<mat-card class="mat-card--marging" *ngIf="city">
  <mat-card-header>
    <div mat-card-avatar class="avatar--x-medium">
      <img [src]="city.image_url" [alt]="city.title">
    </div>
    <mat-card-title>
      {{city.title}}
      
    </mat-card-title>
    <mat-card-subtitle>{{city.content}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="updateCityDetail(city)">UPDATE</button>
  </mat-card-actions>
</mat-card>
<app-heroku-map *ngIf="city" [position]="positionCity"></app-heroku-map>