
<div class="container">
    <div class="item city__list--height" small >
        <mat-card  class="mat-card--marging mr1" *ngFor="let city of cities">
            <mat-card-header>
              <div mat-card-avatar class="avatar--small">
                <img [src]="city.image_url || '/assets/img/city_default.jpg'" [alt]="city.title">
              </div>
              <mat-card-title>
                {{city.title}}
                <!-- <mat-icon>home</mat-icon> -->
                
                    <mat-icon lincable (click)="flyToCity(city)">place</mat-icon>
                
              </mat-card-title>
              
            </mat-card-header>
          
            <!-- <img mat-card-image [src]="city.image_url" [alt]="city.title"> -->
            <mat-card-content>
              <!-- <img small [src]="city.image_url" [alt]="city.title"> -->
              <!-- <span>
                      {{city.content}}
                    </span> -->
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="showCityDetail(city)">INFO</button>
              
              <button mat-button (click)="removeCity(city)">DELETE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="item full">
            <app-city-map ></app-city-map>
        </div>

  </div>
  